/* styles.css */

/* Body styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Main container styles */
main {
    padding: 20px;
}

/* Card styles */
.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    font-weight: bold;
}

/* Input styles */
.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Button styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}


#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}


